.outcome {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.result-field {
    margin: 0 80px ;
    line-height: 2;
    text-align: center;
    width: 250px;


}
.result-field .result-text {
    font-size: 30px;
    font-weight: bold;

}

#result {
    font-size: 50px;
}

#status {
    font-size: 30px;
}

